# --- Python Standard ---
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Jupyter ---
.ipynb_checkpoints

# --- Secrets (CRITICAL) ---
.env
.venv
GoogleKeys/

# --- IDE & OS ---
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# --- Project Specific ---

# 1. Logs & Audit
logs/
data_audit/
data/raw/failed_windows_*.txt
data/raw/processing.log
analysis/
KDTree/
deprecated/
# 2. Cache & Temp
cache/*
cached_originals/

# Logs anywhere
*.log

!cache/.gitkeep  # (Optional: keeps the folder structure but empty)

# 3. Heavy/Generated Data (Ignore these)
data/processed/*
data/raw/*.nc
data/raw/*.zip
data/raw/*.tif
data/raw/*.tiff
data/raw/esa_cci_extracted/
data/raw/worldpop_comparison/
KDTree

clean_cache.py